*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
      list-style;
      display: inline-block;
      margin: 0 20px;
}
.navbar ul li a{
      text-decoration: none;
      tecxt-transform: uppercase;
}
.content{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50);
      text-align: center;
}
.button{
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      background: transparent;
      cursor: pointer;
}